.container-gridItem {
    width: 100%;
    height: 100%;
    cursor: pointer;
    min-width: 250px;
}

.container-gridItem:hover .image-tainer img {
    transform: scale(1.1);
}

.image-tainer {
    width: 100%;
    overflow: hidden;
}

.image-tainer img {
    width: 100%;
    filter: grayscale(0);
    transition: transform .2s ease-in;
}

.item-details {
    width: 100%;
    height: 70px;
    background-color: #000;
    position: relative;
    top: -10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-images {
    width: 100px;
    margin: 0 1rem;
}

.logo-images img {
    width: 100px;
}

.text-part span {
    color: #fff;
    font-weight: 500;
}

/***** responsive codes *****/

@media screen and (max-width: 400px) {

    .logo-images {
        width: 75px;
        margin: 0 1rem;
    }
    
    .logo-images img {
        width: 75px;
    }

    .text-part span {
        color: #fff;
        font-weight: 500;
        font-size: .8rem;
    }

}

@media screen and (max-width: 470px) {
 
}