.container-grid-part {
    position: relative;
    top: 50px;
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("./../../../../public/images/main page/grid-pics-part/cq5dam.thumbnail.319.319\(10\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-box span {
    margin-left: .5rem;
    width: 600px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.one img {
    width: 300px;
    margin: 0 2rem;
}