.container-grid-part {
    position: relative;
    top: 50px;
    overflow: hidden;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
    grid-template-rows: repeat(2, 1fr);
}

.one {
    width: 100%;
    min-height: 200px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("./../../../../public/images/main page/grid-pics-part/cq5dam.thumbnail.319.319\(10\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-box span {
    margin-left: .5rem;
    width: 600px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.one img {
    width: 300px;
    margin: 0 2rem;
}

/***** responsive codes *****/

@media screen and (max-width: 980px) {

    .container-grid-part {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: column;
    }

    .text-box span {
        font-size: 1.4rem;
        width: 400px;
    }

    .one img {
        width: 200px;
        margin: 0 2rem;
    }

}

@media screen and (max-width: 801px) {

    .container-grid-part {
        top: 25rem;
    }

    .one {
        flex-direction: column;
        align-items: center;
    }

    .text-box span {
        text-align: center;
        font-size: 1.1rem;
        width: 100%;
        margin: 1rem 0;
    }

    .one img {
        width: 250px;
        margin: 0 2rem;
    }

}

@media screen and (max-width: 370px) {

    .text-box span {
        text-align: center;
        font-size: .9rem;
        width: 100%;
        margin: 1rem 0;
    }

    .one img {
        width: 150px;
        margin: 0 2rem;
    }

    .container-grid-part {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

}