@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: #fff;
    color: #262523;
    font-size: 1.1rem;
    font-weight: 900;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: color .2s linear, 
    background-color .2s linear;
    margin: .5rem;
}

.btn:hover {
    color: #000;
    background-color: #aaa;
}

@media screen and (max-width: 800px) {

    .btn {
        font-size: 1rem;
        width: 70vw;
        min-width: 200px;
        max-width: 400px;
        height: 50px;
        margin: .5rem;
    }

}