.containers {
    position: relative;
    top: 50px;
    width: 100%;
    height: 600px;
    background-image: url("../../../../public/images/main page/landing-part/5-24-ghost-hub-hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: changeBG 20s linear infinite;
}

@keyframes changeBG {
    0%, 90%, 100% {
        background-image: url("../../../../public/images/main page/landing-part/5-24-ghost-hub-hero-desktop.jpg");
    }
    10%,20% {
        background-image: url("../../../../public/images/main page/landing-part/call-of-duty-vanguard_2560x1440_xtrafondos.com.jpg");
    }
    30%, 40% {
        background-image: url("../../../../public/images/main page/landing-part/specialist-seraph-in-call-of-duty-black-ops-3_2560x1440_xtrafondos.com.jpg");
    }
    50%, 60% {
        background-image: url("../../../../public/images/main page/landing-part/call-of-duty-modern-warfare--wallpaper.jpg");
    }
    70%, 80% {
        background-image: url("../../../../public/images/main page/landing-part/05lb3qcb9kh41.jpg");
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 3.5rem;
    top: 8rem;
}

.logo-image img {
    width: 450px;
}

h2 {
    margin: 0 .5rem;
    width: 400px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/***** responsive codes *****/

@media screen and (max-width: 800px) {

    .containers {
        animation: none;
        background-image: url("../../../../public/images/main page/landing-part/MWII.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    section {
        left: 50%;
        top: 730px;
        transform: translate(-50%, -50%);
    }

    .buttons-box {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {

    section {
        left: 50%;
        top: 730px;
        transform: translate(-50%, -50%);
    }

    .logo-image img {
        width: 300px;
    }

    h2 {
        width: 300px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 330px) {

    .logo-image img {
        width: 200px;
    }

    h2 {
        width: 200px;
        font-size: .7rem;
    }
}