.containers {
    position: relative;
    top: 50px;
    width: 100%;
    height: 600px;
    background-image: url("../../../../public/images/main page/landing-part/5-24-ghost-hub-hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 3.5rem;
    top: 8rem;
}

.logo-image img {
    width: 450px;
}

h2 {
    margin: 0 .5rem;
    width: 400px;
    text-align: center;
    color: #969696;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 25px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/***** responsive codes *****/

@media screen and (max-width: 800px) {

    .containers {
        background-image: url("../../../../public/images/main page/landing-part/MWII.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    section {
        left: 50%;
        top: 730px;
        transform: translate(-50%, -50%);
    }

    .buttons-box {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {

    section {
        left: 50%;
        top: 730px;
        transform: translate(-50%, -50%);
    }

    .logo-image img {
        width: 300px;
    }

    h2 {
        width: 300px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 330px) {

    .logo-image img {
        width: 200px;
    }

    h2 {
        width: 200px;
        font-size: .7rem;
    }
}