.container-footer {
    margin: 0 auto;
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-nav ul{
    height: 100px;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #a59d95;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-nav li {
    margin: 0 2rem;
}

.footer-nav a {
    font-size: .9rem;
    color: #a59d95;
    text-decoration: none;
}

.footer-icons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-right: 2rem;
}

.right-icons {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.img-icon1 {
    width: 250px;
    margin-left: 1.5rem;
}
