.container-footer {
    margin: 0 auto;
    height: 600px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-nav ul{
    height: 100px;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #a59d95;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-nav li {
    margin: 0 2rem;
}

.footer-nav a {
    font-size: .9rem;
    color: #a59d95;
    text-decoration: none;
}

.footer-icons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-right: 2rem;
}

.right-icons {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.img-icon1 {
    width: 250px;
    margin-left: 1.5rem;
}

.footer-detail {
    margin-top: 2rem;
    text-align: center;
    width: 70%;
    color: #969696;
    font-size: .8rem;
    text-shadow: 0 0 30px rgb(255 255 255 / 50%);
}

.footer-detail span {
    text-transform: lowercase;
}

/***** responsive codes *****/

@media screen and (max-width: 1164px) {

    .container-footer {
        position: relative;
        top: 10rem;
    }
}

@media screen and (max-width: 1000px) {

    .footer-nav a {
        font-size: .7rem;
    }

    .footer-nav li {
        margin: 0 1rem;
    }

    .left-icons {
        gap: 1rem;
    }

    .img-icon1 {
        width: 200px;
    }

    .img-icon2 {
        width: 70px;
    }
}

@media screen and (max-width: 801px) {

    .container-footer {
        position: relative;
        top: 30rem;
    }

    .footer-nav li {
        margin-bottom: 0;
    }

    .footer-nav a {
        font-size: .7rem;
    }

    .left-icons {
        gap: 1rem;
    }

    .img-icon1 {
        width: 150px;
    }

    .img-icon2 {
        width: 50px;
    }
}

@media screen and (max-width: 633px) {

    .container-footer {
        position: relative;
        top: 53rem;
    }

    .footer-nav a {
        font-size: .5rem;
    }

    .img-icon1 {
        width: 120px;
    }

    .img-icon2 {
        width: 50px;
    }

    .footer-icons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 582px) {

    .container-footer {
        position: relative;
        top: 70rem;
    }

}

@media screen and (max-width: 466px) {

    .footer-nav a {
        font-size: .3rem;
    }

    .footer-nav {
        font-size: .5rem;
    }

    .footer-nav {
        margin: 0 1rem;
    }

    .img-icon1 {
        width: 120px;
    }

    .img-icon2 {
        width: 50px;
    }

    .footer-icons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 420px) {

    .container-footer {
        top: 75rem;
    }

    .img-icon1 {
        width: 80px;
    }

    .img-icon2 {
        width: 30px;
    }

    .left-icons {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 260px) {

    .container-footer {
        top: 82rem;
    }

    .left-icons {
        grid-template-columns: repeat(1, 1fr);
    }
}