.container-get {
    position: relative;
    max-width: 275px;
    min-width: 200px;
    max-height: 275px;
    min-height: 200px;
    overflow: hidden;
    border: 1.5px solid yellow;
    margin: .5rem;
}

.container-get img {
    width: 100%;
}

.text-detail {
    text-align: center;
    color: rgba(255, 255, 255, 0.722);
    font-weight: 100;
    font-size: .9rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: .5rem 1.5rem;
    backdrop-filter: blur(2px);
}